azure-ai-documentintelligence==1.0.0b2
azure-cosmos==4.5.1
azure-search-documents==11.4.0
openai==1.35.13
azure-storage-blob==12.22.0
python-dotenv
flask
langchain-openai
azure-core
azure-identity==1.18.0